/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

/* Core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}
